<h3>Edit Message</h3>

<%= form_tag "/groups/#{@group['id']}/messages/#{@edit_message_id}", method: "patch" do %>
  <div class="row">
    <div class="small-12 cloumns">
      <label>
        <%= text_area_tag :content, message_content %>
      </label>
      <div class="form-options">
        <%= link_to "/groups/#{@group['id']}", class: "cancel-update-button" do %>
          <button type="button" name="button">Cancel</button>
        <% end %>
        <%= submit_tag "Post", class: "button" %>
      </div>
    </div>
  </div>
<% end %>
