<h3>Post a Message</h3>

<%= form_tag "/groups/#{@group['id']}/messages" do %>
  <div class="input-field">
    <%= label_tag :content %>
    <%= text_area_tag :content %>
  </div>
  <%= submit_tag "Post" %>
<% end %>
