<h1>All Groups</h1>

<% if @groups.any? %>
  <% @groups.each do |group| %>
    <%= link_to "/groups/#{group['id']}" do %>
      <div class="card" id="group-<%= group['id'] %>">
        <div class="card-divider">
          <h3><%= group['name'] %></h3>
        </div>
        <div class="card-section">
          <p><%= group['description'] %></p>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
